.navbar-custom {
    background: #6666ff
    !important;
}
.masthead-custom {
    background:  #ffb833;
}
.img-custom {
    border: 20px solid #6666ff;
    width: 320px !important;
}
.font-weight-custom 
{
    font-weight: 1000;
}
.page-section-custom {
    background: #1abc9c
}
.page-section-contact {
    background:  #cccc00
}
.font-small {
    font-size: 20px;
} 
.font-mini {
  font-size: 16px;
}
.facebook-link { 
    font-weight: bold;
    text-decoration: none;
    color:#6666ff;
    padding: 0 2px;
}
.text-blue {
  background: #0078ca;
}
.facebook-link:hover {
    color: #5a5af3;
    text-decoration: underline;
}

.skype-link, .email-link {
  color: #6666ff;
  pointer-events: none;
  text-decoration: none;
}
.text-center {
  text-align: center;;
}

.btnCategory {
    border: 0;
    display: inline-block;
    background: #7beadf;
    padding: 10px;
    margin: 0 5px;
    color: #fff;
    font-weight: bold;
}
.btnCategory-main {
  background: #b38447;
}
.btnCategory:hover {
  background: #0d6451;
}
.btnCategory-main:hover {
  background: #422806;
}
@media only screen and (max-width: 670px) {
  .btnCategory {
    margin-top: 10px;
  }
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 300px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  @media screen and (max-width: 900px) {
    .modal-content {
      width: 75%;
    }
  }

  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 32px;
    font-weight: bold;
    position: absolute;
    left: 10px;

  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 2px;
    background-color: #1abc9c;
    color: white;
    justify-content: center;
    height:45px;
  }
  
  .modal-body {min-height: 200px}
  
  .modal-footer {
    padding: 2px 2px;
    background-color: #1abc9c;
    height:45px;
    color: white;
    justify-content: center;
  }
